---
title:  'C4 – Code, creatively.'
description: 'C4 is an open-source creative coding framework that harnesses the power of native iOS programming with a simplified API that gets you working with media right away.'
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{{ page.title | downcase }} main-page">

    {% include updates.html %}

    {% include header.html %}


    <div class="container-fluid hero">
      <div class="background">
        <div id="scroll-grid">
          <div class="wrapper">
            <div class="banner">
            <img class="first" src="images/index/poster.jpg" />
            <img src="images/index/poster.jpg" />
            </div>
          </div>
          <img class="laptop" src="images/index/laptop.png" />
        </div>
      </div>
    </div>

    <div class="container index-content">
      <div class="row taglines">
        <h1>Code, creatively.</h1>
        <p>Apps. Interaction. Media Arts. Oh my.</p>
        <a class="button" href="{{ baseurl }}/install">Get Started</a>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <a name="overview"></a>
          <h2>C4 is an open-source creative coding framework that harnesses the power of native iOS programming with a simplified API that gets you working with media right away.</h2>
          <h2>Build artworks, design interfaces and explore new possibilities working with media and interaction.</h2>
        </div>
      </div>

      <div class="row cta">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/install">
            <div>
              <span>
                <img src="images/index/install.png" class="img-responsive" />
              </span>
              <p class="title">Install C4</p>
              <p>Download the installer to get up and running with C4 right away!</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="https://github.com/c4labs/c4ios">
            <div>
              <span>
                <img src="images/index/github.png" class="img-responsive" />
              </span>
              <p class="title">Source Code</p>
              <p>This is the main repo for C4. Clone it, download it, and contribute.</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/features">
            <div>
              <span>
                <img src="images/index/features.png" class="img-responsive" />
              </span>
              <p class="title">Features</p>
              <p>C4 makes your creative coding life easier. Check out its features.</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/cosmos">
            <div>
              <span>
                <img src="images/index/cosmos.png" class="img-responsive" />
              </span>
              <p class="title">Build Cosmos</p>
              <p>Build a beautiful native  iOS app from start  to finish using C4.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 banners text-center">
          <h2>Explore the COSMOS on the App Store!</h2>
          <a href="https://itunes.apple.com/us/app/c4smos/id985883701?ls=1&mt=8"><img src="images/index/banner-cosmos.png" class="img-responsive" /></a>
          <a href="https://itunes.apple.com/us/app/c4smos/id985883701?ls=1&mt=8"><img class="app-store" src="images/index/banner-app-store.png" /></a>
        </div>

        <div class="col-md-12 banners text-center">
          <h2>Questions? Comments? Join our Slack Community!</h2>
          <a href="https://join-c4.herokuapp.com/"><img src="images/index/banner-slack.png" class="img-responsive" /></a>
        </div>
      <div>
    </div>
  </div>
</div>

</div>

  {% include footer.html %}
  
  <script>
    $('span.glyphicon-remove').click(function() {
      $('.updates').remove();
      $('.main-page nav').css('margin-top', '0px');
    });
  </script>  
  </body>
</html>