---
title:  'C4 – Code, creatively.'
description: 'C4 is an open-source creative coding framework that harnesses the power of native iOS programming with a simplified API that gets you working with media right away.'
---

<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{{ page.title | downcase }}">

    {% include header.html %}

    <div class="container-fluid">
      <div class="background">
        <div id="scroll-grid">
          <div class="taglines">
            <h1>Code, creatively.</h1>
            <p>Apps. Interaction. Media Arts. Oh my.</p>
            <a class="button" href="{{ baseurl }}/install">Get Started</a>
          </div>
          <img class="poster" src="images/index/poster.png" />
          <div class="gradient"></div>
        </div>

        <a class="chevron" href="#overview"><img src="images/index/chevron.png" /></a>
      </div>
    </div>


    <div class="container index-content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
          <a name="overview"></a>
          <h2>C4 is an open-source creative coding framework that harnesses the power of native iOS programming with a simplified API that gets you working with media right away.</h2>
          <h2>Build artworks, design interfaces and explore new possibilities working with media and interaction.</h2>
        </div>
      </div>

      <div class="row cta">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/install">
            <div>
              <span>
                <img src="images/index/install.png" class="img-responsive" />
              </span>
              <p class="title">Install C4</p>
              <p>Download the installer to get up and running with C4 right away!</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/tutorials/basics">
            <div>
              <span>
                <img src="images/index/learn.png" class="img-responsive" />
              </span>
              <p class="title">Learn The Basics</p>
              <p>Roll up your sleeves. Jump into C4, start building with it now.</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/examples">
            <div>
              <span>
                <img src="images/index/explore.png" class="img-responsive" />
              </span>
              <p class="title">Explore Examples</p>
              <p>There’s plenty to create! Take a peek to see the power of C4.</p>
            </div>
          </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <a href="{{ baseurl }}/cosmos">
            <div>
              <span>
                <img src="images/index/cosmos-poster.png" class="img-responsive" />
              </span>
              <p class="title">Build Cosmos</p>
              <p>Build a beautiful native  iOS app from start  to finish using C4.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Want to know more?</h2>
          <h2><a href="features">Find out more about C4.</a></h2>
          <a href="https://join-c4.herokuapp.com/"><img src="images/index/about-slack.png" /></a>
          <p><a href="https://join-c4.herokuapp.com/">Join us on Slack! We're always chatting about C4.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

    {% include footer.html %}

    <script src="js/jquery.transit.min.js"></script>
    <script src="js/index-scroll.js"></script>
    <script>

    </script>
    </body>
</html>