<footer>
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <ul class="list-unstyled">
          <li class="title"><a href="{{ baseurl }}/#overview">About</a></li>
          <li><a href="{{ baseurl }}/features">Features</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <ul class="list-unstyled">
          <li class="title"><a href="/learn">Learn + Explore</a></li>
          <li><a href="/install">Install C4</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="http://cocoadocs.org/docsets/C4/1.1.0/">Docs</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <ul class="list-unstyled">
          <li class="title"><a href="/contact">Connect</a></li>
          <li><a href="http://discourse.c4ios.com">Forums</a></li>
          <li><a href="http://www.medium.com/@c4framework" target="_blank">Medium</a></li>
          <li><a href="http://www.twitter.com/c4framework" target="_blank">Twitter</a></li>
          <li><a href="https://join-c4.herokuapp.com/" target="_blank">Slack</a></li>
          <li><a href="https://vimeo.com/c4ios" target="_blank">Vimeo</a></li>
          <li><a href="http://github.com/c4framework" target="_blank">GitHub</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <ul class="list-unstyled">
          <li>© 2016 C4</li>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="mailto:info@c4ios.com">Contact</a></li>
        </ul>    
      </div>
    </div>
    <div class="row visible-xs">
      <div class="col-xs-12">
        <a class="brand" href="{{ site.baseurl }}/">
          <span><img class="img-responsive" src="{{ site.baseurl }}/images/c4logo.png"></span>
        </a>
      </div>
      <div class="col-xs-12">
        <ul class="list-unstyled">
            <li class="title"><a href="/learn">Learn + Explore</a></li>
          <li><a href="/install">Install C4</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="http://cocoadocs.org/docsets/C4/1.1.0/">Docs</a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="title"><a href="/contact">Connect</a></li>
          <li><a href="http://discourse.c4ios.com">Forums</a></li>
          <li><a href="http://www.medium.com/@c4framework" target="_blank">Medium</a></li>
          <li><a href="http://www.twitter.com/c4framework" target="_blank">Twitter</a></li>
          <li><a href="https://join-c4.herokuapp.com/" target="_blank">Slack</a></li>
          <li><a href="https://vimeo.com/c4ios" target="_blank">Vimeo</a></li>
          <li><a href="http://github.com/c4framework" target="_blank">GitHub</a></li>
        </ul>
        <ul class="list-unstyled">
          <li>© 2016 C4</li>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="mailto:info@c4ios.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.path }}/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18444113-4', 'auto');
  ga('send', 'pageview');
</script>