<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li class="title"><a href="/about">About</a></li>
          <li><a href="/about#features">Features</a></li>
          <li><a href="/about#history">History</a></li>
          <!-- <li><a href="/about/contributors">Contributors</a></li> -->
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li class="title"><a href="/learn">Learn + Explore</a></li>
          <li><a href="/install">Install C4</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="http://cocoadocs.org/docsets/C4/1.0.3/">Docs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li class="title"><a href="/contact">Connect</a></li>
          <li><a href="/forums">Forums</a></li>
          <li><a href="http://www.medium.com/@c4framework" target="_blank">Medium</a></li>
          <li><a href="http://www.twitter.com/c4framework" target="_blank">Twitter</a></li>
          <li><a href="https://join-c4.herokuapp.com/" target="_blank">Slack</a></li>
          <li><a href="https://vimeo.com/c4ios" target="_blank">Vimeo</a></li>
          <li><a href="http://github.com/c4framework" target="_blank">GitHub</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <!-- <li class="title"><a href="/about">Sign Up for Newsletter</a></li>
          <li><input type="text" placeholder="Enter Email + Press Enter"></li> -->
          <li>© 2016 C4</li>
          <li><a href="/terms">Terms of Use</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>    
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.path }}/js/bootstrap.min.js"></script>