<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="{{ page.title | downcase }}" data-spy="scroll" data-target="#toc">

    {% include header.html %}

    <div class="container content {{ page.title | downcase }}" >
      <div class="row">
        <div class="col-xs-12 col-md-12 breadcrumb">
          <h1><a href="#">Tutorial</a><div class="bread-caret">></div><a href="/cosmos">COSMOS</a><div class="bread-caret">></div>{{ page.title }}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <span class="img large">
            <img src="{{ site.baseurl }}/images/cosmos/1/{{ page.image }}" />
          </span>
          <p class="title">Chapter {{ page.chapter }}<br /><span class="lighter">{{ page.title }}</span></p>
          <p>Tags<br />{% for tag in page.tags %}<a href="#">{{ tag | capitalize }}</a>, {% endfor %}</p>
          <p>Estimated Time<br /><span class="lighter">{{ page.length }}</span></p>

          <hr />

          <div id="toc"></div>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 tutorial">
          {{ content }}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row chapter-nav">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h1 class="text-center blue">Well done! Continue COSMOS?</h1>
          <ul class="examples-list next-prev list-unstyled">
            {% if page.previous.url and page.previous.categories contains 'cosmos' %}
              <li class="pull-left">
                <a class="more" href="{{ page.previous.url }}" title="Earlier article: {{ page.previous.title }}">
                  <div>
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    <span class="img">
                      <img src="{{ site.baseurl }}/images/{{ page.previous.chapter }}/{{ page.previous.image }}" />
                    </span>
                    <div class="text">
                      <p class="title">Chapter {{ page.previous.chapter }}<br />{{ page.previous.title }}</p>
                      <p>{{ page.previous.description }}</p>
                    </div>
                  </div>
                </a>
              </li>
            {% endif %}
            {% if page.next.url and page.next.categories contains 'cosmos' %}
              <li class="pull-right">
                <a class="more" href="{{ page.next.url }}" title="Later article: {{ page.next.title }}">
                  <div>
                    <span class="img">
                      <img src="{{ site.baseurl }}/images/cosmos/{{ page.next.chapter }}/{{ page.next.image }}" />
                    </span>
                    <div class="text">
                      <p class="title">Chapter {{ page.next.chapter }}<br />{{ page.next.title }}</p>
                      <p>{{ page.next.description }}</p>
                    </div>
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                  </div>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row related">
        <div class="col-xs-12 col-md-12">
          <ul class="examples-list list-unstyled">
            {% assign cosmosPosts = site.categories['cosmos'] | sort: 'order' %}
            {% for post in cosmosPosts %}
              <li>
                <a href="{{ post.url }}">
                  <div>
                    <span class="img">
                      <img src="{{ site.baseurl }}/images/cosmos/{{ post.chapter }}/{{ post.image }}" />
                    </span>
                    <div class="text">
                      <p class="title">Chapter {{ post.chapter }}<br />{{ post.title }}</p>
                      <p>{{ post.description }}</p>
                    </text>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.path }}/js/toc.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#toc').width($('#toc').parents().width());

        $('#toc').toc({
          elementClass: 'toc',
          ulClass: 'nav',
          heading: 'Contents',
          indexingFormats: 'number',
          selector: 'h2, h3, h4'
        });

        $('body').scrollspy({
          target: '#toc',
          offset: $('#headerNav').outerHeight(true)
        });

        setTimeout(function() {
          var $sideBar = $('#toc');
          $sideBar.affix({
            offset: {
              top: function() {
                var offsetTop      = $sideBar.offset().top,
                sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10),
                navOuterHeight = $('#headerNav').height();
                return (this.top = offsetTop - navOuterHeight - sideBarMargin);
              },
              bottom: function() {
                return (this.bottom = $('footer').outerHeight(true) + $('.chapter-nav').outerHeight(true) + $('.related').outerHeight(true) + 60);
              }
            }
          });
        }, 100);

        $('td.gutter').each(function(index)
        {
          $(this).parents('.language-swift').closest('pre').addClass('has-gutter');
        });

        $('.tutorial img').each(function()
        {
          var img = $(this).attr('src');
          $(this).attr('src', '/images/cosmos/{{ page.chapter }}/' + img + '').addClass('img-responsive');
        });
      });
    </script>
  </body>
</html>
