<!DOCTYPE html>
<html>

  {% include head.html %}
   
   <body class="{{ page.title | downcase }}">

		{% include header.html %}

		<div class="container content tutorials">
      <article class="post">
				<div class="post-content">
					{{ content }}
				</div>
			</article>
		</div>

		{% include footer.html %}

	</body>

	<script type="text/javascript">
		$( document ).ready(function() {
			var maxHeight = 0;

			$('ul.examples-block li').each(function()
			{
   			var elHeight = $(this).height();
   			if (elHeight > maxHeight) 
	   		{ 
	   			maxHeight = elHeight; 
	   		}
			});
			$('ul.examples-block li').height(maxHeight + 48);
		});
	</script>
</html>